h1 {
  margin-bottom: 20px;
}

.field {
  left: 10vw;
  position: relative;
}

.my-label {
  font-weight: bold;
  margin-right: 10px;
}

.input {
  margin-right: 10px;
  width: 50%;
}

.loading {
  text-align: center;
}

.recipe-wrapper {
  margin: 20px;
}

.card-image {
  left: 10%;
}

h3 {
  font-weight: bold;
}